{% load static %}

<div class="navbar-header">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <div class="d-flex flex-wrap align-items-center gap-4">
        <nav class="navbar navbar-expand-lg navbar-light bn bt-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="topbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown position-static new">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Master</a>
                <div class="dropdown-menu megamenu p-4">
                  <div class="row m-2">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'master:company_list' %}">Company Creation</a>
                      <a class="dropdown-item" href="{% url 'master:employee_list' %}">Employee Creation</a>

                      <a class="dropdown-item" href="{% url 'master:shift_list' %}">Shift Creation</a>
                      <a class="dropdown-item" href="{% url 'master:shift_roster_main' %}">Shift Roster</a>
                      <a class="dropdown-item" href="{% url 'master:salary_list' %}">Salary Type Creation</a>
                      <a class="dropdown-item" href="{% url 'master:asset_list' %}">Asset Type Creation</a>
                      <a class="dropdown-item" href="{% url 'master:expense_list' %}">Expense Type Creation</a>
                      <a class="dropdown-item" href="{% url 'master:sub_expense_list' %}">Sub Expense Creation</a>
                      <a class="dropdown-item" href="{% url 'master:department_list' %}">Department Creation</a>
                      <a class="dropdown-item" href="{% url 'master:designation_list' %}">Designation Creation</a>
                      <a class="dropdown-item" href="{% url 'master:degree_list' %}">Degree Creation</a>
                      <a class="dropdown-item" href="{% url 'master:site_list' %}">Site Creation</a>
                      <a class="dropdown-item" href="{% url 'master:plant_list' %}">Plant Creation</a>
                    </div>
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'master:holidays_list' %}">Holidays Creation</a>
                      <a class="dropdown-item" href="{% url 'master:leave_list' %}">Leave Type Creation</a>
                      <a class="dropdown-item" href="{% url 'master:addition_list' %}">Addition &amp; Deduction Creation</a>
                      <a class="dropdown-item" href="{% url 'master:asset_create_list' %}">Asset Creation</a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static new">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Entry</a>
                <div class="dropdown-menu megamenu p-4">
                  <div class="row m-2">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'entry:site_entry_list' %}">Site Transfer Entry</a>
                      <a class="dropdown-item" href="{% url 'entry:comp_off_list' %}">Comp Off Creation</a>
                      <a class="dropdown-item" href="{% url 'entry:permission_entry_list' %}">Permission Entry</a>
                      <a class="dropdown-item" href="{% url 'entry:leave_entry_list' %}">Leave Entry</a>
                    </div>
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'entry:tada_entry_list' %}">TADA Entry</a>
                      <a class="dropdown-item" href="{% url 'entry:travel_entry_list' %}">Travel Requisition</a>
                      <a class="dropdown-item" href="{% url 'entry:manual_entry_list' %}">Manual Attendance Entry</a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static new">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Approval</a>
                <div class="dropdown-menu megamenu p-4">
                  <div class="row m-2">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'approval:leave_approval_list' %}">Leave Approvals</a>
                      <a class="dropdown-item" href="{% url 'approval:hr_comp_off_approval' %}">HR Comp Off Approval</a>
                      <a class="dropdown-item" href="{% url 'approval:permission_approval_list' %}">Permission Approvals</a>
                      <a class="dropdown-item" href="{% url 'approval:tada_head_approval_list' %}">TADA Head Approval</a>
                    </div>
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'approval:tada_hr_approval_list' %}">TADA HR Approval</a>
                      <a class="dropdown-item" href="{% url 'approval:daily_attendance_print' %}">Daily Attendance Approval</a>
                      <a class="dropdown-item" href="{% url 'approval:tada_approval_list' %}">TADA Approval</a>
                      <a class="dropdown-item" href="{% url 'approval:travel_hr_approval_list' %}">Travel HR Approval</a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static new">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Reports</a>
                <div class="dropdown-menu megamenu p-4">
                  <div class="row m-2">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'reports:tada_report_list' %}">TADA Report</a>
                      <a class="dropdown-item" href="{% url 'reports:attendance_report_list' %}">Attendance Recognized</a>
                    </div>
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'reports:daily_attendance_report' %}">Daily Attendance Trigger</a>
                      <a class="dropdown-item" href="{% url 'reports:monthly_report_list' %}">Monthly Attendance Trigger</a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static new">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Accounts</a>
                <div class="dropdown-menu megamenu p-4">
                  <div class="row m-2">
                    <div class="col-md-6">
                      <a class="dropdown-item" href="{% url 'accounts:cash_reports_list' %}">Cash Report</a>
                      <a class="dropdown-item" href="{% url 'accounts:demo_list' %}">Demo</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-auto">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <div class="dropdown">
          <button class="d-flex justify-content-center align-items-center rounded-circle" type="button" data-bs-toggle="dropdown">
            <img src="{% static 'assets/images/user.png' %}" alt="Profile" class="w-40-px h-40-px object-fit-cover rounded-circle">
          </button>
          <div class="dropdown-menu to-top dropdown-menu-sm">
            <div class="py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
              <div>
                <h6 class="text-lg text-primary-light fw-semibold mb-2">{{ request.user.get_full_name|default:request.user.username }}</h6>
                <span class="text-secondary-light fw-medium text-sm">
                  {% with request.user.groups.all|first as group %}
                    {% if request.user.is_superuser %}Admin{% elif group %}{{ group.name }}{% else %}User{% endif %}
                  {% endwith %}
                </span>
              </div>
              <button type="button" class="hover-text-danger">
                <iconify-icon icon="radix-icons:cross-1" class="icon text-xl"></iconify-icon>
              </button>
            </div>
            <ul class="to-top-list">
              <li>
                <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3" href="{% url 'accounts:profile' %}">
                  <iconify-icon icon="solar:user-linear" class="icon text-xl"></iconify-icon> My Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3" href="{% url 'accounts:inbox' %}">
                  <iconify-icon icon="tabler:message-check" class="icon text-xl"></iconify-icon> Inbox
                </a>
              </li>
              <li>
                <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3" href="{% url 'accounts:settings' %}">
                  <iconify-icon icon="icon-park-outline:setting-two" class="icon text-xl"></iconify-icon> Settings
                </a>
              </li>
              <li>
                <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-danger d-flex align-items-center gap-3" href="{% url 'accounts:logout' %}">
                  <iconify-icon icon="lucide:power" class="icon text-xl"></iconify-icon> Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

